<div class="grid-container">
  <h1 class="mat-h1">Inicio</h1>
  <div class="card">
    <div class="card-header">
      Registro de Clientes
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
          <thead class="bg-dark text-white">
            <tr>
              <th>ID</th>
              <th>E-mail</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th class="text-center">Ediciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>cramirez@abc.cd</td>
              <td>Carlos</td>
              <td>Ramirez</td>
              <td class="text-center"><h6><span class="badge badge-primary">Activo</span></h6></td>
            </tr>

            <tr>
              <td>2</td>
              <td>ggonzales@abc.cd</td>
              <td>Guillermo</td>
              <td>Gonzales</td>
              <td class="text-center"><h6><span class="badge badge-secondary">Bloqueado</span></h6></td>

            </tr>

            <tr>
              <td>3</td>
              <td>aamardach@abc.cd</td>
              <td>Alejandro</td>
              <td>Mardach</td>
              <td class="text-center"><h6><span class="badge badge-success">Completado</span></h6></td>

            </tr>

            <tr>
              <td>4</td>
              <td>ygarcia@abc.cd</td>
              <td>Yesenia</td>
              <td>García</td>
              <td class="text-center"><h6><span class="badge badge-light">Espera</span></h6></td>
            </tr>

            <tr>
              <td>5</td>
              <td>mmaduro@abc.cd</td>
              <td>Maduro</td>
              <td>Moros</td>
              <td class="text-center"><h6><span class="badge badge-danger">Rechazado</span></h6></td>
            </tr>

          </tbody>
        </table>
      </div>

      <h1>Próximas ediciones: </h1>
      <p>Aplicar funciones de un CRUD y realizar el mantenedor, se harán algunas modificaciones dentro del versionamiento.</p>

      <h3>Nota:</h3>
      <p>GitHub-Pages nos permite correr los códigos de un repositorio pero solo de por sí en lado del Front-end, hay una serie documentada sobre LocalStorage el cual pudiera ser montado a la plataforma de GitHub-Pages de aquí a mañana.</p>

    </div>
  </div>
</div>
